@import '../../scss/_reference';

.page {
    max-width: $global-container-width;
    padding-left: 200px;

    &__header {
        margin: 0 0 30px -100px;
    }

    &__title {
        font-size: $global-font-scale-xxlarge;
    }
}