@import '../../scss/_reference';

.page {
    max-width: $global-container-width;
    padding-left: 200px;

    &__header {
        margin: 0 0 30px -100px;
    }

    &__title {
        font-size: $global-font-scale-xxlarge;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        padding: 20px 0;
    }

    &__meta {
        color: $color-accent;
        font-weight: $global-font-weight-medium;
        font-size: $global-font-scale-small;
        line-height: 1.4;
        margin: 0;
    }

    &__link {
        color: $color-text;

        &:visited {
            color: $color-text;
        }
    }
}