@import '../../scss/_reference';

.article {
    max-width: $global-container-width;
    padding: 0 20px;

    @include respond-to(medium) {
        padding-left: 200px;
    }

    &__header {
        margin: 0 0 30px;

        @include respond-to(medium) {
            margin-left: -100px;
        }
    }

    &__title {
        font-size: $global-font-scale-xxlarge;
    }

    &__footer {
        font-weight: $global-font-weight-medium;

        @include respond-to(large) {
            font-size: rem-calc(16px);
        }

        &::before {
            background: $color-text;
            content: '';
            display: block;
            height: 2px;
            margin: 40px 0 10px;
            max-width: 50%;
        }
    }
}