$color-persimmon: #ff6358;
$color-punch: #d92a2e;
$color-sangria: #9f0006;

$color-black: #000000;
$color-bunker: #172024;
$color-abbey: #4c5257;
$color-tiara: #cdd7d9;
$color-cararra: #f0f1ec;
$color-white: #fdfdfd;