@import 'colors';

//
// Breakpoints
$breakpoints: ('small': 0, 'medium': 640px, 'large': 1024px, 'xlarge': 1200px, 'xxlarge': 1440px);

//
// Semantic color variables
$color-accent: $color-genoa;
$color-accent-dark: $color-pickled-bluewood;
$color-accent-light: $color-atlantis;

$color-text: $color-mirage;
$color-header: $color-accent;

$color-link: $color-accent-light;
$color-link-hover: $color-accent;
$color-link-visited: $color-link;
$color-link-visited-hover: $color-link-hover;
$color-link-active: $color-accent;
$color-link-active-hover: $color-accent;

//
// Globals
$global-background: $color-white;
$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$global-font-family-header: 'Montserrat', sans-serif;
$global-font-scale-xxlarge: 2.618rem;
$global-font-scale-xlarge: 1.809rem;
$global-font-scale-large: 1.310rem;
$global-font-scale-normal: 1rem;
$global-font-scale-small: 0.8rem;
$global-font-scale-tiny: 0.8rem;
$global-font-size: 14px;
$global-font-weight-light: 300;
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;
$global-font-weight-thick: 900;
$global-line-height: 2;

//
// Global transitions defaults
$global-transition-smoothing: cubic-bezier(.23, 1, .32, 1);
$global-transition-duration: .4s;
$global-transition: all $global-transition-duration $global-transition-smoothing;