@import '../../scss/reference';

.header {
    align-items: center;
    color: $color-mirage;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px;

    $header: &;

    &__title {
        color: $color-accent;
        font-size: $global-font-scale-xlarge;
        margin-bottom: 0;
        transition: $global-transition;
    }

    &__home {
        &:hover {
            text-decoration: none;

            #{$header}__title {
                color: $color-link-hover;
            }
        }
    }

    &__navigation {
        padding: 10px 0;
    }

    &__link {
        font-size: $global-font-scale-small;
        padding: 0 15px;

        &:hover {
            text-decoration: none;
        }

        &--is-active {
            font-weight: $global-font-weight-bold;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}