@import '../../scss/reference';

.header {
    color: $color-mirage;
    padding: 30px 20px 94px;

    @include respond-to(medium) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        padding-right: 0;
    }

    $header: &;

    &__title {
        color: $color-accent;
        font-size: $global-font-scale-normal;
        margin: 0;
        transition: $global-transition;
    }

    &__home {
        &:hover {
            text-decoration: none;

            #{$header}__title {
                color: $color-link-hover;
            }
        }
    }

    &__navigation {
        padding: 0 ;

        @include respond-to(medium) {
            padding: 0 60px;
        }
    }

    &__link {
        font-size: rem-calc(16);
        font-weight: $global-font-weight-bold;
        padding: 0 10px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        @include respond-to(medium) {
            margin-right: 40px;
            padding: 0 15px;
        }

        &:hover {
            text-decoration: none;
        }

        &--is-active {
            font-weight: $global-font-weight-bold;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}