@import '../../scss/reference';

.footer {
    font-size: $global-font-scale-normal;
    padding: 45px 20px 30px;
    text-align: left;

    @include respond-to(medium) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: $global-font-scale-small;
        padding-left: 100px;
        padding-right: 100px;
    }

    &__text {
        margin: 0;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        margin: 0 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}